<%doc>
    vim: set syntax=mason:
</%doc>
<%args>
</%args>
<%method title>
OOPS!
</%method>

<%init>
use Data::Dumper;

my $err = $r->pnotes('error');
#my $error_text = "Page is " . $r->parsed_uri->unparse . "\n\n";
$r->content_type("text/html");# generate html even if the url that generated the error is not .html
$r->status(500);

my $seconds_between_emails = 60 * 60; #1 hour

</%init>

<%perl>
my $headers = $r->headers_in();
my $ua = $headers->{'User-Agent'};
if($r->dir_config('SiteName') ne "htphysics" && $r->dir_config('SiteName') ne "production") { #this is staging, link production
    </%perl>
    <h2>Staging site dumping full details:</h2>
    <% $r->uri() %>
    <h3>Error</h3>
<%perl>
    eval {
        print $err->as_html();
    }; if ($@) {
        print "<pre>$err</pre>";
    }
</%perl>

    <h3>Details</h3>
    <pre>
    <h4>uri:</h4>
    <% $r->uri() %>
    <h4>headers:</h4>
    <% Dumper($r->headers_in) %>
    <h4>args:</h4>
    <% Dumper(\%ARGS)|h %>
    <h4>Session:</h4>
    <% Dumper(\%session)|h %>
    </pre>
    <%perl>
}
elsif($ua eq '' || $ua =~ /Gigabot|Slurp|Googlebot|msnbot|gsa-crawler|web-search/) {
    </%perl>
      Go away robot, you found a bug.
    <%perl>
}
else { # Live site. Apologize and send us a ticket
    </%perl>
    <h2>The website encountered an error, and cannot complete your request</h2>
    <h3>We are very sorry, you seem to have found a bug :(</h3>
    <p>I have logged the error for the website maintainer to look at. </p>
    <%perl>
    my $now = time();
    my ($sec,$min,$hour,$mday,$mon,$year,$wday,$yday,$isdst) = gmtime;
    $year += 1900;
    $mon++;
    my $errorfile = sprintf("/tmp/physics-oops-%4d-%02d-%02d.log", $year, $mon, $mday);
    my $delta = undef;
    if(-f $errorfile ) {
       my $st = stat $errorfile; #file::stat
       $delta = $now - $st->mtime();
    }
    my $errorstr =  "---Error Report  $year-$mon-$mday $hour:$min:$sec---\n\nURI:\n". $r->uri(). "\n\nERROR:\n". $err->as_text()."\n\nHEADERS:\n". Dumper($headers). "\n\nARGS:\n". Dumper(\%ARGS). "\nError logged to $errorfile\n";
    open FH, ">> $errorfile" or confess("Unable to open error file");
    print FH "$errorstr\n";
    close FH;

    if( (!defined $delta) or ($delta > $seconds_between_emails) ) {
        $m->comp("/mason/send_mail.comp", to => 'net@physics.umn.edu', subject => "Error encountered on production site", 
                                text => $errorstr);
    }

    </%perl>
    <p>You might want to try clicking the back button and trying your request again, or <a href="http://zzz.physics.umn.edu/computing/contact">contact us</a> with a detailed account of what page you were on, and what you were doing. </p>
    <%perl>
    return;

}

</%perl>
